.books-item:not(:last-child){
  margin-bottom: 40px;
}

.books-item-title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;

  letter-spacing: 0.03em;
  color: var(--sub-text-color);

  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .books-item-title{
    line-height: calc(24 / 14);
  }
}

.book-item-button {
  display: block;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  padding: 14px 28px;
  border-radius: 26px;

  background-color: transparent;
  border: 2px solid var(--violet);

  margin-left: auto;
  margin-top: 8px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .book-item-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .book-item-button {
    margin-top: 32px;
  }
}

.book-item-button:hover,
.book-item-button:focus {
  background-color: var(--violet);
  border: 2px solid var(--violet);
  color: var(--white);
}