.category-list {
  height: 228px;

  overflow-y: scroll;
  padding-right: 20px;

  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.02em;
  color: var(--balck-60);
}

@media screen and (min-width: 768px) {
  .category-list {
    height: 472px;
  }
}

.category-link {
  width: 100%;
  text-align: left;

  background-color: transparent;

  padding: 12px 0;
  height: 40px;
  cursor: pointer;

  color: var(--black-60);
}

@media (min-width: 768px) {
  .category-link {
    padding: 22px 0;
  }
}

.category-link:hover,
.category-link:focus,
.category-link.active {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--violet);
}