<div class="header-auth-buttons">
  <button data-role="signin" data-modal-id="registration-modal">
    Sign Up
    <svg width="23" height="26">
      <use href="./public/icons/arrow.svg#icon-arrow-narrow-right"></use>
    </svg>
  </button>
  <button data-role="logout">Logout</button>
</div>