<nav class="header-nav">
  <ul>
    <li>
      <a class="header-link current" href="/">Home</a>
    </li>
    <li>
      <a class="header-link shopping-cart" href="./shopping-list.ejs">
        <span>Shopping List</span>
        <svg width="20" height="20">
          <use href="./public/icons/header.svg#icon-shop" />
        </svg>
        <span class="header-shopping-cart-number">0</span>
      </a>
    </li>
  </ul>
</nav>
