<div class="modal" id="book-info">
  <div class="content">
    <button data-role="close">×</button>
    <div class="content-box">
      <img
        class="book-cover"
        alt="Book wrap"
        width="192"
        height="281"
      />
      <div class="book-about">
        <div class="dec-title-author">
          <p class="title"></p>
          <p class="author"></p>
        </div>
        <p class="book-description"></p>
        <ul class="book-modal-shops-list"></ul>
      </div>
    </div>
    <button class="add-book-button">ADD TO SHOPPING LIST</button>
    <p class="cong">
      Congratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>

<!-- add book to shopping cart -->
 <script src="./scripts/add-book-to-shopping-cart.script.js" type="module"></script>