.burger-modal-backdrop{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 100;

    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);

    overflow: hidden;

    opacity: 0;

    transition: opacity 0.3s ease;

    pointer-events: none;
}


.burger-modal-backdrop.active{
    opacity: 1;
    pointer-events: all;

}

@media screen and (min-width: 768px) {
    .burger-modal-backdrop{
        display: none;
    }
}

.burger-menu-content .header-nav{
    display: block;
    color: white;
}

.burger-menu-content .header-nav > ul{
    flex-direction: column;
}

.header-burger-menu-button{
    color: var(--black);
}

.header-burger-menu-button svg{
    stroke: currentColor;
}