.support-aside {
  position: relative;

  box-shadow: 0px 10px 10px 0px #f5f5f71a;
  border-radius: 10px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  color: #fff;

  padding: 24px 40px;
}

@media screen and (min-width: 768px) {
  .support-aside{
    width: 335px;
  }
}

.support-list {
  overflow-y: scroll;
  height: 300px;
  margin-bottom: 24px;
}

.support-list::-webkit-scrollbar {
  display: none;
}

.support-title {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 30px;
}

.support-button {
  border-radius: 100%;

  background: #fff;

  transition: transform 0.3s ease;

  --size: 40px;

  width: var(--size);
  height: var(--size);

  padding: 10px;


  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.support-button.rotate {
  transform: rotate(180deg);
}

.support-button > svg {
  display: block;
  height: 6px;
  width: 12px;
  fill: #4f2ee8;
}

.support-link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 0;
}
