.anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: opacity var(--g-t), background-color var(--g-t), color var(--g-t), transform var(--g-t);
  width: 60px;
  height: 60px;
  background-color: transparent;
  color: var(--color-6);
  border: 2px solid var(--color-6);
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  transform: scale(0);
  opacity: 0;
}

.anchor:hover,
.anchor:focus{
    background-color: var(--color-6);
    color: var(--white-forever);
}

.anchor.active{
    transform: scale(1);
    opacity: 1;
}
