// Main modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;

  opacity: 0;

  transition: opacity var(--g-t);
  z-index: 100;

  .content{
    transform: scale(0);
    transition: transform var(--g-t);
  }

  &.active {
    pointer-events: all;
    opacity: 1;
    .content{
      transform: scale(1);
    }
  }
}

// Registration modal
#registration-modal {
  background: var(--color-6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.71em;
  z-index: 10;

  .content {
    position: relative;

    background: var(--color-15);
    border: 2px solid var(--color-1);
    border-radius: 18px;
    width: 100%;
    max-width: 579px;

    padding: 1.71em;
    padding-top: 3.57em;
    padding-bottom: 3.57em;

    display: flex;
    flex-direction: column;
    align-items: center;

    button[data-role="close"] {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 12px;
      right: 12px;

      background: transparent;
      font-size: 2.14em;
      font-weight: bold;
      width: 30px;
      height: 30px;
      color: #111;
    }

    .forms {
      width: 100%;
      margin-bottom: 1.42em;

      & form[data-role="login"] {
        display: none;
      }

      &.login form {
        display: none;
      }

      &.login form[data-role="login"] {
        display: flex;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-size: 1.28em;

        button {
          color: #fff;
          background-color: #111;
          transition: background-color var(--g-t);
          letter-spacing: -0.01em;
          text-transform: uppercase;
          border: 2px solid #111;
          border-radius: 40px;
          padding: 1.43em 2.85em;
          font-weight: 700;
          line-height: 1.33;
          user-select: none;

          &:hover {
            background-color: var(--color-6);
          }
        }

        .modal-form-label {
          position: relative;

          input {
            letter-spacing: -0.01em;
            text-transform: uppercase;
            border: 2px solid #111;
            border-radius: 40px;
            width: 100%;
            padding: 20px 40px;
            font-weight: 700;
            line-height: 1.33;
            outline: none;
            font-size: inherit;

            &:focus,
            &.active {
              border-color: var(--color-6);
            }

            &:focus + span,
            &.active + span {
              color: var(--color-6);
              top: 0;
              transform: translateY(-100%) scale(0.8);
            }
          }

          span {
            cursor: text;
            color: #111;
            text-transform: uppercase;
            user-select: none;
            font-weight: 700;
            line-height: 1.33;
            transition: transform 0.2s, top 0.3s, color 0.2s;
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
          }
        }
      }
    }

    .registration-modal-navigation {
      display: flex;
      justify-content: center;
      gap: 1.42em;

      input {
        display: none;
      }

      input:checked + label {
        color: var(--color-6);
      }

      .button {
        cursor: pointer;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: underline;
        color: #111;

        .button.active {
          color: var(--color-6);
        }
      }
    }
  }
}

// Registration modal
#book-info {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    border: 2px solid var(--color-1);
    background: var(--color-11);
    width: 100%;
    max-width: 335px;
    border-radius: 18px;
    padding: 40px 24px;
    transition: transform 0.3s;
    position: relative;
    overflow-y: auto;

    @media screen and (min-width: 768px) {
      & {
        max-width: 580px;
        padding: 40px;
      }
    }

    button[data-role="close"] {
      --offset: 12px;
      top: var(--offset);
      right: var(--offset);
      width: 24px;
      height: 24px;
      color: var(--black);
      fill: currentColor;
      background: 0 0;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      transition: color 0.3s;
      display: flex;
      position: absolute;
    }

    .book-cover {
      width: 100%;
      max-width: 287px;
      height: auto;
      border-radius: 8px;
      margin-bottom: 14px;

      @media screen and (min-width: 768px){
        &{
          max-width: 192px;
          margin-bottom: 0;
        }
      }
    }

    .book-about {
      flex: 1;
    }

    .title {
      letter-spacing: -0.04em;
      color: var(--color-1);
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.12;
    }

    .author {
      letter-spacing: -0.04em;
      color: #b4afaf;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.17;
    }

    .book-modal-shops-list {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: auto;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        & {
          margin-bottom: 0;
        }
      }
    }

    .dec-title-author {
      margin-bottom: 18px;
    }

    .book-description {
      letter-spacing: -0.04em;
      color: var(--color-1);
      margin-bottom: 44px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.29;
    }

    .add-book-button {
      width: 100%;
      border: 2px solid var(--color-6);
      color: var(--color-1);
      background: transparent;
      border-radius: 40px;
      margin-bottom: 8px;
      padding: 14px;
      transition: background-color var(--g-t), color var(--g-t);
      text-transform: uppercase;

      &:hover,
      &:focus {
        background-color: var(--color-6);
        color: var(--color-11);
      }
    }

    .cong {
      letter-spacing: -0.04em;
      text-align: center;
      color: var(--color-12);
      width: 100%;
      max-width: 242px;
      margin: 0 auto;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.2;
      display: none;

      &.active {
        display: block;
      }
    }

    .content-box {
      margin-bottom: 0;

      @media screen and (min-width: 768px) {
        & {
          display: flex;
          gap: 24px;

          margin-bottom: 40px;
        }
      }
    }
  }
}
