<div class="menu-container js-menu-container" id="mobile-menu">
  <header class="header light-theme theme-switch header-menu">
    <a class="logo text-logo global-link" href="./">
      <img
        src="../src/images/header/logo-light.png"
        alt="Logo"
        class="logo-image theme-switch light-theme dark-theme"
      />
    </a>

    <div class="switcher" data-checked="false">
      <div class="switcher-handle">
        <svg class="switcher-circle">
          <use href="./images/header/icons/icons.svg#icon-circle"></use>
        </svg>
      </div>
    </div>

    <button
      class="js-close-menu btn-close-toggle menu-close global-button"
      type="button"
    >
      <svg
        class="icon-menu-close light-theme theme-switch"
        width="28"
        height="28"
      >
        <use href="./images/burger-menu/icons-menu.svg#icon-menu-close"></use>
      </svg>
    </button>
  </header>

  <button class="user-menu-button global-button">
    <svg class="avatar" width="30" height="30">
      <use xlink:href="./images/header/icons/icons.svg#icon-user-non"></use>
    </svg>
  </button>

  <ul class="global-list links-menu-list">
    <li class="">
      <a class="link-text link-menu" href="./index.html">HOME</a>
    </li>
    <li class="">
      <a class="link-text link-menu" href="./shopping-list.html">
        SHOPPING LIST
        <svg class="sprite-image" width="20" height="20">
          <use href="./images/header/icons/icons.svg#icon-shop"></use>
        </svg>
      </a>
    </li>
  </ul>

  <button class="global-button logout-menu-btn" type="button">
    Log out
    <svg class="logout-arrow" width="20" height="20">
      <use href="./images/burger-menu/icons-menu.svg#icon-arrow-right"></use>
    </svg>
  </button>

  <ul class="global-list img-menu-list">
    <li>
      <img src="./images/burger-menu/1.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/2.jpg" alt="" class="menu-img" />
    </li>
    <li><img src="./images/burger-menu/3.jpg" alt="" class="menu-img" /></li>
    <li>
      <img src="./images/burger-menu/4.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/5.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/6.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/7.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/8.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/9.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/10.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/11.jpg" alt="" class="menu-img" />
    </li>
    <li>
      <img src="./images/burger-menu/12.jpg" alt="" class="menu-img" />
    </li>
  </ul>
</div>
