<aside>
  <div class="support-aside">
    <h2 class="support-title global-title">
      Support Ukraine
      <img
        src="./images/extra-block/tryzub.png"
        width="20"
        height="31"
        alt="tryzub"
      />
    </h2>

    <ul class="support-list global-list"></ul>
    <button type="button" class="support-button global-button js-sup-btn">
      <svg class="support-svg">
        <use href="./images/extra-block/icons/arrow.svg#icon-arrow"></use>
      </svg>
    </button></svg></button>
  </div>
</aside>
