<main>
  <!-- <div class="container"> -->
  <h1 class="global-title shop_title theme-switch light-theme dark-theme">
    Shopping <span class="shop_title--violet">List</span>
  </h1>

  <div class="shop_plug">
    <h2
      class="global-title shop_plug-title theme-switch light-theme dark-theme"
    >
      This page is empty, add some books and proceed to order.
    </h2>
    <img
      class="shop_plug-img"
      src="./images/shoppin-list/shop_boock_plug.png"
      alt="boock_plug"
    />
  </div>

  <!-- розмітка картки з Shopping List -->
  <div class="js-shop_card"></div>

  <!-- </div> -->
</main>
