<main>
  <div class="container">
    <h1 class="global-title shop_title">
      Shopping <span class="shop_title--violet">List</span>
    </h1>

    <div class="shop_plug">
      <h2 class="global-title shop_plug-title">
        This page is empty, add some books and proceed to order.
      </h2>
      <img
        class="shop_plug-img"
        src="./images/shoppin-list/shop_boock_plug.png"
        alt="boock_plug"
      />
    </div>

    <!-- розмітка картки з Shopping List -->
    <div class="js-shop_card"></div>

    <!-- <div class="shop_card">
      <img src="./images/shoppin-list/no_book.png" alt="картка книжки" />
      <div class="shop_card-div_description">
        <div class="shop_card-div_title">
          <div>
            <h2 class="global-title shop_card-title">SWEET ENOUGH</h2>
            <h3 class="global-title shop_card-category">
              Advice How-To and Miscellaneous
            </h3>
          </div>
          <button></button>
        </div>
        <p class="global-p shop_card-description">
          For a while, Daisy Jones & The Six were everywhere. Their albums were
          on every turntable, they sold out arenas from coast to coast, their
          sound defined an era. And then, on 12 July 1979, they split. Nobody
          ever knew why. Until now. They were lovers and friends and brothers
          and rivals.
        </p>
        <div class="shop_card-empty_place"></div>
        <div class="shop_card-footer">
          <p class="global-p shop_card-author">R.J. Palacio</p>
          <div class="shop_card-empty_place"></div>
          <a class="global-link shop_card-link" href="">
            <img
              src="./images/shoppin-list/icons/amazon.png"
              alt="amazon"
              height="11px"
            />
          </a>
          <a class="global-link shop_card-link" href="">
            <img
              src="./images/shoppin-list/icons/books_1.png"
              alt="books"
              height="16px"
            />
          </a>
          <a class="global-link shop_card-link" href="">
            <img
              src="./images/shoppin-list/icons/books_2.png"
              alt="books"
              height="16px"
            />
          </a>
        </div>
      </div>
    </div> -->
  </div>
</main>
