.heading-primary {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);

  margin-bottom: 40px;
  color: var(--balck);
}

@media screen and (min-width: 768px) {
  .heading-primary {
    font-size: 48px;
    line-height: calc(52 / 48);
  }
}

.colored-heading {
  color: var(--violet);
}

.books-container {
    --flex-items: 1;
    --flex-items-gap: 20px;
}

@media screen and (min-width: 768px) {
  .books-container {
    --flex-items: 3;
  }
}

@media screen and (min-width: 1440px) {
  .books-container {
    --flex-items: 5;
  }
}

.books-list-link{
    overflow: hidden;
}

.book-link-img {
  width: 100%;
  max-width: 335px;
  height: auto;
}

/* tablet */
@media screen and (min-width: 768px) {
  .book-link-img {
    height: 316px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .book-link-img {
    height: 256px;
  }
}

.book-link-title{
    margin-top: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.125;
    overflow: hidden;
    color: var(--balck);
}

.book-link-author{
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--sub-text-color);
    margin: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16667;
    overflow: hidden;
}

.book-link-img-box{
  position: relative;
  overflow: hidden;
  border-radius: 8px;

}

.book-link-quick-view{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  text-align: center;
  width: 100%;
  padding: 26px 10px;

  transition: transform 0.3s ease;

  background: var(--violet);

  text-transform: uppercase;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;

  color: var(--white);

  pointer-events: none;
}

.books-list-link:hover .book-link-quick-view{
  transform: translateY(0);
}