@import url('./variables.css');

.heading-primary {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38/32);
  margin: 40px 0 0 0;
}

.heading-primary.light-theme{
color: var(--main-text-color);
}

.heading-primary.dark-theme{
  color: var(--light-text-color);
}

/* tablet */
@media screen and (min-width: 768px){
  .heading-primary{
    font-weight: 700;
    font-size: 48px;
    line-height: calc(52/48);
  }
}

.colored-heading {
  color: var(--extra-text-color);
}

.tb-container{
  max-width: 335px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-container {
    max-width: 704px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-container {
      max-width: 996px;
    }
}

.tb-category {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-category {
  line-height: calc(24/14);
  }
}

.tb-book-img {
  max-width: 335px;
  height: 485px;
  border-radius: 8px;
  /* border: 0.5px solid #B4AFAF; */
  margin: 0 0 14px 0;
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-book-img {
    width: 218px;
    height: 316px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-book-img {
    width: 180px;
    height: 256px;
  }
}

.tb-book-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18/16);
  margin: 0 0 4px 0;
}

.tb-book-title.light-theme{
  color: var(--main-text-color);
}

.tb-book-title.dark-theme {
  color: var(--light-text-color);
}

.tb-book-author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14/12);
  color: var(--sub-text-color);
  margin: 0;
}

.tb-book-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 335px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-book-card {
    width: 218px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-book-card {
    width: 180px;
  }
}


.tb-button{

  /* float: right; */
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding: 14px 28px;
  border-radius: 26px;
  background-color: transparent;
  border: 2px solid var(--extra-text-color);
  margin: 8px 0 0 0;
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-button{
    margin: 20px 0 0 0;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-button{
    margin: 32px 0 0 0;
  }
}

.tb-book-title.dark-theme {
  color: var(--light-text-color);
}

.tb-button:hover,
.tb-button:focus{
  background-color: var(--extra-text-color);
  border: 2px solid var(--extra-text-color);
  color: var(--light-text-color);
}

.tb-books-container {
  text-align: left;
  justify-content: center;
  display: flex;
  gap: 24px;
}

/* tablet */
@media screen and (max-width: 1438px) {
  .tb-books-container>a:nth-child(n+4) {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .tb-books-container>a:nth-child(n+2) {
    display: none
  }
}

.tb-category-container{
  text-align: right;
  margin-top: 40px;
}