@import url('./variables.css');

/* tablet */
@media screen and (min-width: 768px) {

}

/* desktop */
@media screen and (min-width: 1440px) {

}

.heading-primary {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38/32);

  margin: 40px 0 0 0;
  letter-spacing: -0.04em;

}

.heading-primary.light-theme{
color: var(--main-text-color);
}

.heading-primary.dark-theme{
  color: var(--light-text-color);
}

/* tablet */
@media screen and (min-width: 768px){
  .heading-primary{
    font-weight: 700;
      font-size: 48px;
      line-height: calc(52/48);
  }
}

.colored-heading {
  color: var(--extra-text-color);
}

.tb-container{
  width: 335px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-container {
    width: 704px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-container {
      width: 996px;
    }
}

.tb-category {
  font-weight: 400;
  font-size: 14px;

  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}

/* desktop */
@media screen and (min-width: 768px) {
  .heading-primary {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(52/48);
  }
}

.tb-book-img {
  width: 180px;
  height: 256px;
  border-radius: 8px;
  /* border: 0.5px solid #B4AFAF; */
  margin: 0 0 14px 0;
}

.tb-book-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18/16);
  letter-spacing: -0.04em;
  color: var(--main-text-color);
  margin: 0 0 4px 0;
}

.tb-book-author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: -0.04em;
  color: var(--sub-text-color);
  margin: 0;
}

.tb-book-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 180px;
}

.tb-button{

  /* float: right; */
  text-align: right;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18/14);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding: 14px 28px;
  border-radius: 26px;
  background-color: transparent;
  border: 2px solid var(--extra-text-color);
  margin: 32px 0 0 0;

}

.tb-button:hover,
.tb-button:focus{
  background-color: var(--extra-text-color);
  border: 2px solid var(--extra-text-color);
  color: var(--light-text-color);
}

.tb-books-container {
  text-align: left;
  display: flex;
  gap: 24px;
}

.tb-category-container{
  text-align: right;
  margin-top: 40px;
}