@import url('./variables.css');

.heading-primary {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);
}

.heading-primary img {
  width: 100%;
  height: 100%;
}

.heading-primary.light-theme {
  color: var(--main-text-color);
}

.heading-primary.dark-theme {
  color: var(--light-text-color);
}

/* tablet */
@media screen and (min-width: 768px) {
  .heading-primary {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(52 / 48);
  }
}

.colored-heading {
  color: var(--extra-text-color);
}

.tb-container {
  --flex-item: 1;
}

@media screen and (min-width: 768px) {
  .tb-container {
    --flex-item: 3;
  }
}

@media screen and (min-width: 1440px) {
  .tb-container {
    --flex-item: 5;
  }
}

.tb-category {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;

  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-category {
    line-height: calc(24 / 14);
  }
}

.tb-book-img {
  width: 100%;
  max-width: 335px;
  height: 485px;
  border-radius: 8px;
  /* border: 0.5px solid #B4AFAF; */
  margin: 0 0 14px 0;
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-book-img {
    width: 218px;
    height: 316px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-book-img {
    width: 180px;
    height: 256px;
  }
}

.tb-book-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  margin: 0 0 4px 0;
}

.tb-book-title.light-theme {
  color: var(--main-text-color);
}

.tb-book-title.dark-theme {
  color: var(--light-text-color);
}

.tb-book-author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--sub-text-color);
  margin: 0;
}

.tb-book-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 335px;
}

.tb-book-card:hover,
.tb-book-card:focus {
  transform: scale(1.03);
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-book-card {
    width: 218px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-book-card {
    width: 180px;
  }
}

.tb-button {
  display: block;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  padding: 14px 28px;
  border-radius: 26px;

  background-color: transparent;
  border: 2px solid var(--extra-text-color);

  margin-left: auto;
  margin-top: 8px;
}

.tb-button.dark-theme {
  color: var(--light-text-color);
}

/* tablet */
@media screen and (min-width: 768px) {
  .tb-button {
    margin-top: 20px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .tb-button {
    margin-top: 32px;
  }
}

.tb-button:hover,
.tb-button:focus {
  background-color: var(--extra-text-color);
  border: 2px solid var(--extra-text-color);
  color: var(--light-text-color);
}

.tb-books-container > ul {
  display: flex;
  --flex-item: 1;
  --flex-item-gap: 10px;
}

.tb-books-container > ul > img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .tb-books-container > ul {
    --flex-item: 3;
    --flex-item-gap: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .tb-books-container > ul {
    --flex-item: 5;
    --flex-item-gap: 24px;
  }
}

/* tablet */
@media screen and (max-width: 1438px) {
  .hidden-books > li:nth-child(n + 4) {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .hidden-books > li:nth-child(n + 2) {
    display: none;
  }
}

.tb-category-container {
  margin-top: 40px;
}

.no-books-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}

.no-books-paragraph {
  margin: 0;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--dark-text-color-60);
}

/* spinner css */
.loader {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid var(--place-text-color);
  border-right: 5px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
}
.is-hidden {
  display: none;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid var(--extra-text-color);
  border-left: 5px solid transparent;
  z-index: 2;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.is-loader-hidden {
  display: none;
}

.scroll-up-button {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border-radius: 50%;
  padding-top: 21.1px;
  padding-bottom: 22.15px;
  padding-right: 17.05px;
  padding-left: 18px;
  background: var(--extra-text-color);
  cursor: pointer;
}
.scroll-up-svg {
  display: block;
  height: 10.85px;
  width: 18.95px;
  fill: #ffffff;
}
