:root {
  --place-bg-color: #4f2ee8;
  --light-text-color: #ffffff;
  --main-text-color: #111111;
}

body {
  position: relative;
}

.container {
  position: relative;
  width: 375px;
  height: 812px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--place-bg-color) 18.03%,
    #ffffff 100%
  );
}

.name {
  padding-top: 88px;
  display: flex;
  align-items: center;
}

.preson-photo {
  margin-left: 20px;
  padding-right: 10px;
  width: 37px;
  height: 37px;
}

.preson-name {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: var(--light-text-color);
}

.menu {
  margin-left: 129px;
  margin-top: 130px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  width: 72px;
  height: 34px;
  background: var(--place-bg-color);
  border-radius: 36px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  color: var(--light-text-color);
}

.shopping {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--light-text-color);
  padding-right: 4px;
}

.shopping-list {
  display: flex;
}

.bottom-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 118px;
  height: 48px;
  background: #ffffff;
  border: 1.5px solid var(--main-text-color);
  border-radius: 18px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--main-text-color);
}

.btn-arrow {
  position: absolute;
  left: 80%;
  top: 52%;
  transform: translate(-50%, -50%);
}

.bg {
  position: absolute;
  bottom: -5px;
  left: 0;
}

.bg img {
  width: 100%;
  height: auto;
}
