@import url('./variables.css');

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  background-color: var(--modal-bakdrop);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 335px;
  height: auto;
  z-index: 200;
  padding: 40px 24px;

  background-color: var(--modal-bg);
  border: 2px solid var(--modal-border-wrap-color);
  border-radius: 18px;
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 579px;
    padding: 40px;
  }
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 24;
  height: 24;
  text-align: center;
  line-height: 0;

  font-size: 30px;
  font-weight: 700;

  background-color: transparent;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--extra-bg-color);
}

@media screen and (min-width: 768px) {
  .close-btn {
    top: 24px;
    right: 24px;
  }
}

.book-icon {
  width: 287px;
  height: 408px;
  margin-bottom: 14px;

  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .book-icon {
    width: 192px;
    height: 281px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.about-book {
  width: 270px;
}

.modal-content-wrap {
  display: block;
}

@media screen and (min-width: 768px) {
  .modal-content-wrap {
    margin-bottom: 40px;
    display: flex;
  }
}

.book-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .book-title {
    margin-bottom: 8px;
  }
}

.book-author {
  margin-bottom: 18px;

  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--sub-text-color);
}

@media screen and (min-width: 768px) {
  .book-author {
    margin-bottom: 20px;
  }
}

.book-descr {
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .book-descr {
    margin-bottom: 20px;
  }
}

.shops-list {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 40px;
}

.add-rem-btn {
  width: 100%;
  height: 46px;
  margin-bottom: 8px;

  color: var(--main-text-color);
  background-color: transparent;
  border: 2px solid var(--extra-bg-color);
  border-radius: 40px;
}

.add-rem-btn:hover,
.add-rem-btn:focus {
  color: var(--light-text-color);
  background-color: var(--extra-bg-color);
}

.congratulations {
  margin-left: 23px; /*47px - 24px padding*/
  width: 242px;

  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(17, 17, 17, 0.5);
}

@media screen and (min-width: 768px) {
  .congratulations {
    margin-left: 88px; /*128px - 40px padding*/
    width: 324px;
  }
}

.no-content {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
