@import url('./variables.css');



.backdrop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow: hidden;

    transition: var(--transition-property), var(--transition-duration), var(--transition-timing-function);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px 22px;
    width: calc(100% - 20px * 2);

    background: var(--empty);
    border: 2px solid var(--main-text-color);
    border-radius: 18px;

   
}
modal.is-hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4);
    visibility: 0;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .modal {
        max-height: calc(100% - 20px * 2);
        overflow-y: scroll;
    }
}

@media screen and (min-width: 375px) {
    .modal {
        width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        width: 579px;
        min-height: 465px;
        padding-left: 40px;
        padding-right: 40px;
    }       
}


.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;

    background: inherit;
    
    color: var(--main-text-color);
}
    

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: var(--extra-border-color);
}

@media screen and (min-width: 768px) {
    .modal-close-btn {
        top: 24px;
        right: 24px;
        
        width: 28px;
        height: 28px;
    }
}


.modal-close-icon {
    fill: currentColor;
}
@media screen and (min-width: 768px) {
    .modal-close-icon {
        width: 24px;
        height: 24px;
    }
}




@media screen and (min-width: 768px) {
    .modal-wrapper {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }
}


.modal-img {
    margin-bottom: 14px;

    width: 287px;
    height: 408px;

    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .modal-img {
        width: 192px;
        height: 281px;
        margin-bottom: 0;
    }    
}



@media screen and (min-width: 768px) {
    .modal-content {
        width: 280px;
    }
}


.modal-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(18 / 16);
}
@media screen and (min-width: 768px) {
    .modal-title {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: calc(28 / 24);
    }
}


.modal-author {
    margin-bottom: 18px;

    font-style: italic;
    font-size: 12px;
    line-height: calc(14 / 12);

    color: var(--sub-text-color);
}
@media screen and (min-width: 768px) {
    .modal-author {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: calc(18 / 14);
    }
}


.modal-description {
    max-width: 279px;
    margin-bottom: 14px;

    font-size: 14px;
    line-height: calc(18 / 14);
}
@media screen and (min-width: 768px) {
    .modal-description {
        margin-bottom: 20px;
    }
}

.modal-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 0;
    margin-bottom: 40px;
}

.modal-link {
    mix-blend-mode: luminosity;
}
.modal-link:hover,
.modal-link:focus {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}


.modal-add-btn,
.modal-remove-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 12px 28px;

    border: 2px solid var(--extra-border-color);
    border-radius: 40px;

    background-color: inherit;

    text-align: center;
    font-weight: 700;
    
    
    letter-spacing: -0.01em;
    text-transform: uppercase;
   

}
@media screen and (min-width: 768px) {
    .modal-add-btn,
    .modal-remove-btn {
        width: 100%;
        padding: 20px 0;
    }
}

.modal-add-btn:hover,
.modal-remove-btn:hover {
    color: var(--empty);
    background-color: var(--extra-border-color);
}

.modal-add-btn:focus,
.modal-remove-btn:focus {
    color: var(--empty);
    background-color: var(--extra-border-color);
}


.modal-remove-btn {
    margin-bottom: 8px;

    padding-left: 23px;
    padding-right: 23px;
}

.modal-add-btn.is-hidden,
.modal-remove-btn-wrapper.is-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-remobe-btn-message {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 242px;

    font-size: 10px;
    line-height: calc(12 / 10);
    text-align: center;

    color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
    .modal-remobe-btn-message {
        max-width: 324px;
        padding: 0;

        font-size: 12px;
        line-height: calc(14 / 12);
    }
}

.modal-remove-btn-message.is-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
