@import url('./variables.css');

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  background-color: var(--modal-bakdrop);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 335px;
  height: auto;
  z-index: 200;
  padding: 40px 24px;

  background-color: var(--modal-bg);
  border: 2px solid var(--modal-border-wrap-color);
  border-radius: 18px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 24;
  height: 24;
  text-align: center;
  line-height: 1;

  font-size: 20px;
  font-weight: 700;

  background-color: transparent;
}

.book-icon {
  width: 287px;
  height: 408px;
  margin-bottom: 14px;

  border-radius: 8px;
}

.book-title {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: var(--main-text-color);
}

.book-author {
  margin-bottom: 18px;

  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: var(--sub-text-color);
}

.book-descr {
  margin-bottom: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: var(--main-text-color);
}

.shops-list {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 40px;
}

.add-rem-btn {
  width: 100%;
  height: 46px;
  margin-bottom: 8px;

  color: var(--main-text-color);
  background-color: transparent;
  border: 2px solid var(--extra-bg-color);
  border-radius: 40px;
}

.add-rem-btn:hover,
.add-rem-btn:focus {
  color: var(--light-text-color);
  background-color: var(--extra-bg-color);
}

.congratulations {
  width: 242px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(17, 17, 17, 0.5);
}
