@import url('./variables.css');

/* .container {
  border: 1px solid red;
} */

.shop_title {
  margin: var(--sl-instep_title) 0;
  font-weight: bold;
  font-size: var(--sl-font-size-title);
  line-height: 38px;
}
.shop_title--violet {
  color: var(--extra-bg-color);
}

.shop_plug {
  margin: 120px auto;
  width: 265px;
}
.shop_plug-title {
  font-size: var(--sl-font-size_plug-title);
  /* font-weight: normal; */
  font-weight: inherit;
  text-align: center;
  letter-spacing: -0.02em;

  color: var(--dark-text-color-60);
}

.shop_plug-img {
  width: 100px;
  height: 142px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* розмітка картки з книжкою в shopingList */
.shop_card {
  margin-bottom: var(--sl-instep_card);
  height: 175px;
  display: flex;
  padding: var(--sl-instep_14);
  border: 2px solid var(--extra-border-color-40);
  border-radius: 16px;
}

.shop_card img {
  object-fit: contain;
}

.shop_card-div_description {
  width: 100%;
  margin-left: var(--sl-instep_14);
  display: flex;
  flex-direction: column;
}

.shop_card-title {
  font-size: var(--sl-font-size_card-title);
  line-height: 18px;

  text-transform: uppercase;
}

.shop_card-category {
  margin-top: var(--sl-instep_4);
  /* font-weight: normal; */
  font-weight: inherit;
  font-size: var(--sl-font-size_desc);
  line-height: 14px;
  letter-spacing: 0.03em;

  color: var(--sub-text-color);
}

.shop_card button {
  width: var(--sl-button-size);
  height: var(--sl-button-size);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--light-text-color);
  background-image: url('../images/shoppin-list/icons/del.png');
  border: none;
  cursor: pointer;
}

.shop_card-div_title {
  display: flex;
  justify-content: space-between;
}

.shop_card-description {
  margin-top: var(--sl-instep_8);
  margin-bottom: var(--sl-instep_8);
  overflow: auto;
  text-overflow: ellipsis;
}

.shop_card-empty_place {
  flex-grow: 1;
}

.shop_card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_card-author {
  font-style: italic;
  font-size: var(--sl-font-size_desc);
  line-height: 14px;

  color: var(--sub-text-color);
}

.shop_card-link {
  margin-left: var(--sl-instep_8);
}
.shop_card-link img {
  height: 16px;
}
.shop_card-link img:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.shop_card-link .shop_amazon {
  height: 11px;
}

/* tablet  & PC */
@media screen and (min-width: 768px) {
  .shop_plug {
    margin: 140px auto;
    width: 322px;
  }
  .shop_title {
    font-size: var(--font-size_tablet_PC-title);
    line-height: 52px;
  }
  .shop_plug-title {
    font-size: var(--font-size_tablet_PC-plug-title);
    line-height: 24px;
  }
  .shop_card-div_description {
    margin-left: var(--sl-instep_24);
  }
  .shop_card {
    height: 220px;
    padding: var(--sl-instep_24);
  }
  .shop_card button {
    width: var(--size_button);
    height: var(--size_button);
  }
  .shop_card-description {
    margin-top: var(--sl-instep_14);
  }
  .shop_card-link {
    margin-left: var(--sl-instep_16);
  }
  .shop_card-link img {
    height: var(--sl-instep_28);
  }
  .shop_card-link .shop_amazon {
    height: var(--sl-instep_16);
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
}
