@import url('./variables.css');

:root {
  --instep_4: 4px;
  --instep_8: 8px;
  --instep_14: 14px;
  --instep_card: 20px;
  --instep_title: 40px;
  --instep_shop_plug: 120px;

  --font-size-title: 32px;
  --font-size_desc: 12px;
  --font-size_plug-title: 14px;
  --font-size_card-title: 16px;

  --button-size: 28px;
}

.shop_title {
  margin: var(--instep_title) 0;
  font-weight: bold;
  font-size: var(--font-size-title);
  line-height: 38px;
}
.shop_title--violet {
  color: var(--extra-bg-color);
}

.shop_plug {
  margin: var(--instep_shop_plug) auto auto auto;
}
.shop_plug-title {
  font-size: var(--font-size_plug-title);
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.02em;

  color: var(--dark-text-color-60);
}

.shop_plug-img {
  width: 100px;
  height: 142px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* розмітка картки з книжкою в shopingList */
.shop_card {
  margin-bottom: var(--instep_card);
  height: 170px;
  display: flex;
  padding: var(--instep_14);
  border: 2px solid var(--extra-border-color-40);
  border-radius: 16px;
}

.shop_card img {
  object-fit: contain;
}

.shop_card-div_description {
  width: 100%;
  margin-left: var(--instep_14);
  display: flex;
  flex-direction: column;
}

.shop_card-title {
  font-size: var(--font-size_card-title);
  line-height: 18px;

  text-transform: uppercase;
}

.shop_card-category {
  margin-top: var(--instep_4);
  font-weight: normal;
  font-size: var(--font-size_desc);
  line-height: 14px;
  letter-spacing: 0.03em;

  color: var(--sub-text-color);
}

.shop_card button {
  width: var(--button-size);
  height: var(--button-size);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--light-text-color);
  background-image: url('../images/shoppin-list/icons/del.svg');
  border: none;
  cursor: pointer;
}

.shop_card-div_title {
  display: flex;
  justify-content: space-between;
}

.shop_card-description {
  margin-top: var(--instep_8);
  margin-bottom: var(--instep_8);
  overflow: auto;
  text-overflow: ellipsis;
}

.shop_card-empty_place {
  flex-grow: 1;
}

.shop_card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_card-author {
  font-style: italic;
  font-size: var(--font-size_desc);
  line-height: 14px;

  color: var(--sub-text-color);
}

.shop_card-link {
  margin-left: var(--instep_8);
}
