@import url('./variables.css');

/* .container {
  border: 1px solid red;
} */

h1.shop_title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.shop_title.light-theme {
  color: var(--main-text-color);
}
.shop_title.dark-theme {
  color: var(--light-text-color);
}
.shop_title--violet {
  color: var(--extra-bg-color);
}

.shop_plug {
  display: none;
  margin: 120px auto;
  width: 265px;
}
.shop_plug-title {
  font-size: 14px;
  /* font-weight: normal; */
  font-weight: inherit;
  text-align: center;
  letter-spacing: -0.02em;
}
.shop_plug-title.light-theme {
  color: var(--dark-text-color-60);
}
.shop_plug-title.dark-theme {
  color: var(--light-text-color-60);
}

.shop_plug-img {
  width: 160px;
  height: 142px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* розмітка картки з книжкою в shopingList */
.shop_card {
  margin-bottom: 20px;
  height: 175px;
  display: flex;
  padding: 14px;
  border: 2px solid var(--extra-border-color-40);
  border-radius: 16px;
}
.shop_card.dark-theme {
  background-color: var(--main-bg-color);
}
.shop_card.light-theme {
  background-color: #ffffff;
}

.shop_card img {
  object-fit: contain;
}

.shop_card-div_description {
  width: 100%;
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.shop_card-div_description.dark-theme {
  background-color: #ffffff;
}
.shop_card-div_description.light-theme {
  background-color: var(--main-bg-color);
}

.shop_card-title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.shop_card-title.light-theme {
  color: var(--main-text-color);
}
.shop_card-title.dark-theme {
  color: var(--light-text-color);
}

.shop_card-category {
  margin-top: 4px;
  /* font-weight: normal; */
  font-weight: inherit;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;

  color: var(--sub-text-color);
}

.shop_card button {
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('../images/shoppin-list/icons/del.png');
  border: none;
  cursor: pointer;
}

.shop_card-div_title {
  display: flex;
  justify-content: space-between;
}

.shop_card-description {
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: auto;
  text-overflow: ellipsis;
}

.shop_card-empty_place {
  flex-grow: 1;
}

.shop_card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_card-author {
  font-style: italic;
  font-size: var(--sl-font-size_desc);
  line-height: 14px;

  color: var(--sub-text-color);
}

.shop_card-link {
  margin-left: 8px;
}
.shop_card-link img {
  height: 16px;
}
.shop_card-link img:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.shop_card-link .shop_amazon--black,
.shop_card-link .shop_amazon--wite {
  height: 11px;
}

.shop_card-link .shop_amazon--black.light-theme {
  display: block;
}
.shop_card-link .shop_amazon--black.dark-theme {
  display: none;
}

.shop_card-link .shop_amazon--wite.light-theme {
  display: none;
}
.shop_card-link .shop_amazon--wite.dark-theme {
  display: block;
}

/* tablet  & PC */
@media screen and (min-width: 768px) {
  .shop_plug {
    margin: 140px auto;
    width: 322px;
  }
  .shop_title {
    font-size: var(--font-size_tablet_PC-title);
    line-height: 52px;
  }
  .shop_plug-title {
    font-size: var(--font-size_tablet_PC-plug-title);
    line-height: 24px;
  }
  .shop_card-div_description {
    margin-left: 24px;
  }
  .shop_card {
    height: 220px;
    padding: 24px;
  }
  .shop_card button {
    width: 34px;
    height: 34px;
  }
  .shop_card-description {
    margin-top: 14px;
  }
  .shop_card-link {
    margin-left: 16px;
  }
  .shop_card-link img {
    height: 28px;
  }
  .shop_card-link .shop_amazon--black,
  .shop_card-link .shop_amazon--wite {
    height: 16px;
  }
}

.scroll-up-button {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border-radius: 50%;
  padding-top: 21.1px;
  padding-bottom: 22.15px;
  padding-right: 17.05px;
  padding-left: 18px;
  background: var(--extra-text-color);
  cursor: pointer;
}
.scroll-up-svg {
  display: block;
  height: 10.85px;
  width: 18.95px;
  fill: #ffffff;
}

