:root {
  /* cell */
  --flex-item: 5;
  --flex-item-gap: 20px;

  /* text */
  --main-text-color: #111111;
  --main-text-color-60: rgba(17, 17, 17, 0.6);
  --extra-text-color: #4f2ee8;
  --sub-text-color: #b4afaf;
  --light-text-color: #fff;
  --light-text-color-60: rgba(255, 255, 255, 0.6);
  --place-text-color: #eac645;
  --dark-text-color-60: rgba(0, 0, 0, 0.6);

  /* background */
  --main-bg-color: #111111;
  --extra-bg-color: #4f2ee8;
  --place-bg-color: #eac645;
  --bg-color: #f6f6f6;

  /* border */
  --extra-border-color: #4f2ee8;
  --extra-border-color-40: rgba(79, 46, 232, 0.4);

  --empty: #fff;

  /* transition */
  --transition-property: color, background, box-shadow;
  --transition-duration: 0.3s;
  --transition-timing-function: ease-out;

  /* Shopping List  */
  --sl-instep_4: 4px;
  --sl-instep_8: 8px;
  --sl-instep_14: 14px;
  --sl-instep_16: 16px;
  --sl-instep_24: 24px;
  --sl-instep_28: 28px;
  --sl-instep_card: 20px;
  --sl-instep_title: 40px;
  --sl-instep_shop_plug: 120px;

  --sl-font-size-title: 32px;
  --sl-font-size_desc: 12px;
  --sl-font-size_plug-title: 14px;
  --sl-font-size_card-title: 16px;

  --sl-button-size: 28px;

  /* Shopping List tablet  & PC */
  --sl-instep_16: 16px;
  --sl-instep_24: 24px;

  --font-size_tablet_PC-plug-title: 18px;
  --font-size_tablet_PC-title: 48px;

  --size_button: 34px;
}
