<aside class="categories" aria-label="book catalog">
    <ul class="category-list">
        <li>
           <input type='radio' name='categories' id='all' checked/>
           <label data-category='all' for='all'>All categories</label>
        </li>
    </ul>
</aside>

<!-- Load books genres -->
<script src="./scripts/load-books-genres.script.js" type="module"></script>