<aside class="support">
    <div>
        <h2 class="title">
            Support Ukraine
            <img src="./public/images/tryzub.png" width="20" height="31" alt="tryzub" />
        </h2>
        <ul class="support-list">
            <li>
                <a class="support-link" href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
                    target="_blank">
                    <span>01</span>
                    <img src="./public/images/saveCh.png" alt="Save the Children" width="131" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://www.projecthope.org/country/ukraine/" target="_blank">
                    <span>02</span>
                    <img src="./public/images/hope.png" alt="Project HOPE" width="62" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank">
                    <span>03</span>
                    <img src="./public/images/medical.png" alt="International Medical Corps" width="101" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://www.razomforukraine.org/" target="_blank">
                    <span>04</span>
                    <img src="./public/images/razom.png" alt="RAZOM" width="82" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://www.actionagainsthunger.org/location/europe/ukraine/"
                    target="_blank" width="131">
                    <span>05</span>
                    <img src="./public/images/action.png" alt="Action against hunger" width="55" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://prytulafoundation.org/en" target="_blank">
                    <span>06</span>
                    <img src="./public/images/serhiy.png" alt="Serhiy Prytula Charity Foundation" width="116" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://u24.gov.ua/uk" target="_blank">
                    <span>07</span>
                    <img src="./public/images/united.png" alt="UNITED24" width="149" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://www.msf.org/ukraine" target="_blank">
                    <span>08</span>
                    <img src="./public/images/sans.png" alt="Medicins Sans Frontieres" width="133" />
                </a>
            </li>
            <li>
                <a class="support-link" href="https://www.wvi.org/emergencies/ukraine" target="_blank">
                    <span>09</span>
                    <img src="./public/images/vision.png" alt="World vision" width="81" />
                </a>
            </li>
        </ul>
        <button class="aside-support-button">
            <svg width="12" height="6">
                <use href="./public/icons/arrow.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</aside>

<!-- Rotating button svg and transporting the list  to the top/bottom depends on what direction the user is scrolling -->
<script src="./scripts/support-aside.script.js" type="module"></script>