.header-nav {
  margin-left: 40px;
  display: none;
}

@media screen and (min-width: 768px) {
    .header-nav{
        display: block;
    }
}

.header-nav > ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-link{
  display: block;
  border-radius: 36px;
  padding: 8px 15px;
}

.header-nav-link.shopping-link svg{
  fill: currentColor;
}

.header-nav-link.shopping-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-nav-link.current {
  background: #eac645;
  color: #111;
  font-weight: 700;
}

