.signup-button,
.logout-button {
  display: none;
  align-items: center;
  justify-content: space-around;

  width: 184px;
  height: 48px;

  border-radius: 18px;
  padding: 14px;
  background-color: #4f2ee8;
  border: 1.5px solid var(--black);
  color: #fff;
}

.header-user-box.signup .signup-button {
  display: flex;
}

.header-user-box.logout .logout-button {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header-user-box .signup-button {
    display: none;
  }

  .header-user-box .logout-button {
    display: none;
  }
}
