.asides {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .asides {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .asides {
    flex-direction: column;
    gap: 86px;
  }
}

.aside {
  width: 100%;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .aside {
    width: 356px;
  }
}


@media screen and (min-width: 1440px) {
  .aside {
    position: sticky;
    top: 20px;
  }
  .aside.support {
    top: 580px;
  }
}