*{
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  color: var(--black);
  letter-spacing: -0.04em;
  background: var(--white-2);
}

body.locked{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  height: 167px;
  background: transparent;
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
