.main-block > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .main-block > .container {
    gap: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .main-block > .container {
    flex-direction: row;
    gap: 30px;
  }
}