.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: var(--violet);
  z-index: 100;

  display: none;
  align-items: center;
  justify-content: center;

  color: #000;

  padding: 20px;

}

.auth-modal.active{
  display: flex;
}

.auth-container {
  border: 2px solid var(--black);
  border-radius: 18px;
  width: 579px;
  height: 516px;
  background: #f6f6f6;
  padding: 24px;
}

.auth-close-button {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: 30px;
  width: 1px;
  height: 1px;
  font-weight: bold;

  margin-bottom: 28px;
}
.signup-form-selector,
.signin-form-selector,
.signup-form-selector + form,
.signin-form-selector + form {
  display: none;
}

.signup-form-selector:checked + form,
.signin-form-selector:checked + form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.auth-input-label-box {
  position: relative;
}

.auth-input-label-box > input,
.auth-main-button {
  width: 100%;
  border: 2px solid #111;
  border-radius: 40px;
  padding: 20px 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;

  outline: none;
}

.auth-input-label-box-text {
  position: absolute;
  top: 50%;
  left: 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;

  transform: translateY(-50%);

  transition: transform 0.2s ease, top 0.3s ease, color 0.2s ease;

  user-select: none;

  cursor: text;
}

.auth-input-label-box > input:focus + .auth-input-label-box-text,
.auth-input-label-box input.active + .auth-input-label-box-text{
  transform: translateY(-100%) scale(0.8);
  top: 0;
  color: var(--violet);
}

.auth-input-label-box input:focus,
.auth-input-label-box input.active{
    border: 2px solid var(--violet);
}

.auth-main-button{
    margin-bottom: 20px;
    background-color: #111;
    color: #fff;
}

.auth-navigation{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.auth-navigation label{
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.signup-form-selector:checked ~ .auth-navigation .to-signup-button,
.signin-form-selector:checked ~ .auth-navigation .to-signin-button{
    color: var(--violet);
}