.book-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(17, 17, 17, 0.4);

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 10px;

  z-index: 100;

  opacity: 0;

  transition: opacity 0.3s ease;

  pointer-events: none;
}

.book-modal-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.book-modal-content {
  position: relative;

  width: 100%;
  max-width: 335px;
  padding: 40px 24px;

  border: 2px solid var(--black);
  background: var(--white);
  border-radius: 18px;

  height: 100%;
  max-height: 762px;

  overflow-y: auto;

  transform: scale(0);

  transition: transform 0.3s ease;
}

.book-modal-wrapper.active .book-modal-content{
  transform: scale(1);
}

@media screen and (min-width: 768px) {
  .book-modal-content {
    max-width: 580px;
    max-height: 515px;
    padding: 40px;
  }
}

.book-modal-content-box {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .book-modal-content-box {
    display: flex;
    gap: 24px;

    margin-bottom: 40px;
  }
}

.book-modal-close-button {
  position: absolute;
  --offset: 12px;
  top: var(--offset);
  right: var(--offset);

  width: 24px;
  height: 24px;

  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;

  color: var(--black);

  fill: currentColor;

  transition: color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .book-modal-close-button {
    --offset: 24px;
  }
}

  .book-modal-close-button:hover,
  .book-modal-close-button:focus{
    color: var(--violet);
  }

.book-modal-book-icon {
  border-radius: 8px;

  width: 100%;
  max-width: 287px;

  height: 100%;
  max-height: 408px;

  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .book-modal-book-icon {
    width: 192px;
    height: 281px;
  }
}

.book-modal-book-title-author {
  margin-bottom: 18px;
}

.book-modal-book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: var(--black);

  margin-bottom: 4px;
}

.book-modal-book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.book-modal-book-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--black);
  
  margin-bottom: 44px;
}

.book-modal-shops-list {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 20px;
}

.book-modal-add-button {
  width: 100%;

  max-width: 279px;

  padding: 14px;

  border: 2px solid var(--violet);
  border-radius: 40px;

  background: transparent;

  margin-bottom: 8px;

  transition: background-color 0.3s ease;

  color: var(--black);
}

@media screen and (min-width: 768px) {
  .book-modal-add-button {
    max-width: 100%;
  }
}

.book-modal-add-button:hover,
.book-modal-add-button:focus{
    background-color: var(--violet);
    color: #fff;
}

.book-modal-text-congratulation {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--black-60);

  width: 100%;
  max-width: 242px;

  margin: 0 auto;

  display: none;
}

.book-modal-text-congratulation.active {
  display: block;
}